# Extension 설치하기
- extension 라이브러리 설치: pip install jupyter_contrib_nbextensions
- ectension 라이브러리 적용: jupyter contrib nbextension install --user

# 주석문
- **주석**은 코드의 실행과 `무관한` 문장을 기록하기 위한 <b>기능</b>

In [8]:
#  주석처리
s1 = "문자열"
s2 = '문자열'
s3 = '"문자열"'
print(s3)
s4 = """동해물과 백두산이 마르고 닳도록 
하느님이 보우하사 우리나라 만세"""
print(s4)

"문자열"
동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세

# 연산자와 데이터

In [14]:
# 산술 연산자
a = 10
b = 35

print(a/b)
print(a//b)
print(b//a)

0.2857142857142857
0
3

In [17]:
# + 연산자: 문자열 결합. 단! 숫자와 문자열 결합은 불가능
c = "사과"
d= 10
print(c+str(d))

사과10

In [18]:
# 문자열 반복: *
e = 'ha'
print(e*5)

hahahahaha

In [21]:
# 거듭제곱 연산자: **
f = 25.5
print(f**3)

16581.375

In [22]:
# 논리 연산자: and, or

x = True
y = False

print(x and y)
print(x or y)

False
True

In [23]:
# 비교연산

n = 5
print(0<=n<=10)

True

In [31]:
a = 10
b = 20

print(a,b)
print(a,b, sep =',')
print(a, end=' ') # end 파라미터의 기본 값은 '\n'이 사용된다.
print(b)

10 20
10,20
10 20

# 표준 입출력

In [33]:
a = int(input("밑변을 입력:"))
b = int(input("높이를 입력:"))
print(a,b, "넓이는:", a*b)

밑변을 입력:10
높이를 입력:20
10 20 넓이는: 200

# 제어문

## if문

In [42]:
score = float(input("숫자 타입의 점수 입력:"))

if score >= 90:
    print("합격")
elif 70 <= score <= 90:
    print("재시험")
else:
    print("탈락")

숫자 타입의 점수 입력:95
합격

In [38]:
sayHello = "good morning"

if sayHello == "good morning":
    print("아침인사 입니다.")
else:
    print("아침인사가 아닙니다.")

아침인사 입니다.

In [39]:
notEmptyString = "test"

if notEmptyString:
    print("문자열이 비어있지 않습니다.")
else:
    print("문자열이 비어있습니다")

문자열이 비어있지 않습니다.

In [45]:
i = 10
if not i%2: # i%2의 값이 0이면 (짝수) False이기 때문에 not을 붙여서 True로 변환
    print("짝수")
else:
    print("홀수")

짝수

## [문제-1] 정수 하나를 입력 받아 5의 배수인지 조사하여 그 결과를 출력하라.

In [51]:
a = int(input("정수를 입력하세요 : "))
if not a%5:
    print("5의 배수입니다.")
else:
    print("5의 배수가 아닙니다")

정수를 입력하세요 : 50
5의 배수입니다.

## [문제-2] 화폐단위 계산
<pre>
사용자로부터 금액을 입력 받아 화폐의 개수를 출력하는 프로그램을 작성하세요
조건) 화폐의 종류: 만원, 천원, 백원, 십원 (일원 단위는 절사)

<실행 예>
금액을 입력하세요: 45630
만원 : 4개
천원 : 5개
백원 : 6개
십원 : 3개
<pre/>

In [64]:
x = int(input("금액을 입력하세요 : "))


m10000 = x // 10000
m1000 = (x%10000) // 1000
m100 = (x%1000) // 100
m10 = (x%100) // 10

print("만원권 :", m10000,"장  " "천원권 :", m10000,"장  ", "백원 :", m100,"개  ", "십원 :", m10,"개")

금액을 입력하세요 : 45698
만원권 : 4 장  천원권 : 4 장   백원 : 6 개   십원 : 9 개

# 삼항 연산자
- 형식: True일때 선택 값 if 조건식 else False일때 선택 값

In [65]:
a = 10
b = 20
result = "a와 b는 같지 않다" if a != b else "a와 b는 같다"
print(result)

a와 b는 같지 않다

## [문제-3] 대도시 여부 판단
<pre>

[판단 조건]
수도면서 인구가 100만 이상인 도시
또는 부자가 200만 이상인 도시

[실행예시]
수도입니까? (수도: 1, 수도아님:0) 1
인구 (단위: 만) 150
부자의 수 (단위: 만) 50
대도시 여부 : True
</pre>

In [79]:
a = input("수도입니까? (수도:1, 수도아님:0)")
b = int(input("인구(단위:만)"))
c = int(input("부자의 수(단위:만)"))

수도 = True if (a == "1" and b >= 100) or c >= 200 else False
print("대도시 여부: ", 수도)

수도입니까? (수도:1, 수도아님:0)1
인구(단위:만)789
부자의 수(단위:만)569
대도시 여부:  True

# 반복문

In [4]:
c = 1
while c <= 5:
    print(c, end=" ") # end 파라미터에 공백 넣으면 줄 바꿈 없이 옆으로 나열해서 출력 / end 파라미터 빼면 밑으로 출력
    c += 1 # c++ 증가 연산자 사용불가
    
print("End")

1 2 3 4 5 End

In [5]:
sum = 0

# for 변수 in 리스트 (or 튜플, 문자열)
for i in range(1, 11):
    sum += i
print(sum)

55

In [8]:
while True:
    s = input("영어 단어를 입력하세요(종료: q):")
    if s == 'q': break
    print(s.upper())
    
print("End")

영어 단어를 입력하세요(종료: q):sdq
SDQ
영어 단어를 입력하세요(종료: q):Q
Q
영어 단어를 입력하세요(종료: q):q
End

In [40]:
# python에서 문자열은 list 객체로 관리
for s in "I have a Dream!":
    print(s, end=",")

I, ,h,a,v,e, ,a, ,D,r,e,a,m,!,

In [19]:
# 자바스타일의 코딩

a = [1,2,3,4] # a는 list 객체 (가변적이며, 동일한 데이터 타입의 집합)
result = []  # 리스트 객체 선언
for i in a:
    result.append(i*3) # append()는 리스트 객체에 요소 값을 추가하는 함수
print(result)

[3, 6, 9, 12]

In [21]:
# list comprehension

a = [1,2,3,4]
result = [i*3 for i in a] # for의 왼쪽에는 문장이 올수 없음 (표현식만 가능)
print(result)

[3, 6, 9, 12]

In [28]:
# list comprehension with if

a = [1,2,3,4]
result = [i*3 for i in a if not i%2]  # 해석순서 -> 1번: for문, 2번: if 문, 3번: 표현식
print(result)

[6, 12]

In [29]:
# 2중 for문

for i in range(5):
    for j in range(5):
        print("i=",i, "j=", j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 0 j= 4
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 1 j= 4
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 2 j= 4
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3
i= 3 j= 4
i= 4 j= 0
i= 4 j= 1
i= 4 j= 2
i= 4 j= 3
i= 4 j= 4

## [문제-4] ---------+---------+---------+---------+---------+ 문자열 만들기

In [39]:

for a in range(5):
    print("-"*9, end="")
    print("+", end="")

---------+---------+---------+---------+---------+

## [문제-5] 합계 구하기
정수를 입력받아 1부터 입력 받은 정수까지의 합을 구하여 출력
단, 반복문은 while일 이용할 것

In [53]:
sum = 0 # 전체 합계를 저장
cnt = 0 # 반복 횟수

num = int(input("정수를 입력하세요: "))

while cnt <= num:
    sum += cnt
    cnt += 1
print(1, "~", num, "까지의 합:", sum)

정수를 입력하세요: 456
1 ~ 456 까지의 합: 104196

## [문제-6] BMI 측정 프로그램
<pre>
키와 몸무게를 입력받아 BMI 측정 결과를 출력하는 프로그램을 작성하세용

[실행예시]
> 키를 입력하세요(cm) : 170
> 몸무게를 입력하세요(kg) : 85
> 당신의 BMI는 비만 1단계 입니다.

[BMI 계산식]
BMI = 몸무게 / 키의 제곱
* BMI 비만도 판단 결과 지표
18.5 미만: 저체중
18.5 ~ 22.9: 정상체중
23 ~ 29.9: 비만
29.9 초과: 과체중
</pre>

In [67]:
hei = float(input("> 키를 입력하세요(cm): "))
wei = float(input("> 몸무게를 입력하세요(kg): "))

if wei//(hei*0.01)**2 < 18:
    print("저체중")
elif 18.5 < wei//(hei*0.01)**2 <= 22.9:
    print("정상체중")
elif 22.9 < wei//(hei*0.01)**2 <= 29.9:
    print("비만")
else:
    print("파오후")

> 키를 입력하세요(cm): 175
> 몸무게를 입력하세요(kg): 88
비만

# 문자열 처리

In [9]:
mystr = "학교종이 땡땡땡"
print(mystr)
print(mystr[0])
print(mystr[-1])
# mystr[1] = '원'
mystr[1]

for i in mystr:
    print(i, end=" ")

학교종이 땡땡땡
학
땡
학 교 종 이   땡 땡 땡

In [10]:
hello = 'I say "Help" to you'
print(hello)

I say "Help" to you

## [문제-7] 파일 이름 슬라이스
<pre>

* 파일이름  : 20220408-091622.jpg
[출력결과]
촬영날짜 : 2022년 4월 08일
촬영시간 : 09시 16분
확장자: jpg
</pre>

In [36]:
fname = '20220408-091622.jpg'

print("촬영날짜:", fname[0:4],"년", fname[5:6], "월", fname[7:8], "일")
print("촬영시간:", fname[9:11],"시", fname[11:13], "분")
# print("확장자:", fname[16:19])
print("확장자:", fname[-3:])

# 앞에서 자르기는 0부터 시작 / 뒤에서 부터 자르기는 1부터 시작

촬영날짜: 2022 년 4 월 8 일
촬영시간: 09 시 16 분
확장자: jpg

In [31]:
# 문자열 뒤집기
str = "hello" # olleh로 출력

print(str[::-1])

olleh

# 문자열 함수

In [38]:
s = """생각이란 생각할수록 생각나므로
생각하지 말아야 할 생각은 생각하지 않으려고 하는 생각이
옳은 생각이라고 생각합니다."""

print(s.count("생각"))

# 해당 문자가 몇번 포함되어 있는지 여부

9

In [42]:
s = "Python Programming"
print("a" in s)
print("z" in a)

# 해당 문자가 포함되어 있는지 여부를 Ture, Flase로 표기

True
False

In [51]:
s = "짜장 짬뽕 탕수육"
print(s.split())

for i in s.split():
    print(i)
    
s2 = "서울->대전->대구->부산"
city = (s2.split("->"))
print(city)

# 특정 문자 기준으로 문자열 나누기 / 구분자 없으면 기본 구분자( 공백, 줄나눔ㅁ, 탭) 기준으로 나눔

['짜장', '짬뽕', '탕수육']
짜장
짬뽕
탕수육
['서울', '대전', '대구', '부산']

In [53]:
city_list = ['서울', '대전', '대구', '부산']
city_string = ",".join(city_list)
print(city_string)

서울,대전,대구,부산

# 문자열 대입

In [59]:
str = "I eat %d apples"%3
print(str)

str = "i eat %s apples"%"five"
print(str)

str = "i eat %d%% apples" %95
print(str)

I eat 3 apples
i eat five apples
i eat 95% apples

In [62]:
month = 8
day = 15
anni ="광복절"

print("%d월 %d일은 %s입니다."%(month, day, anni))

8월 15일은 광복절입니다.

In [68]:
number =4
day = "삼"
s = "나는 사과 {number}개를 먹고 {day}일동안 아팠다".format(day="삼", number=3)
print(s)

나는 사과 3개를 먹고 삼일동안 아팠다

## [문제-8] 주민등록번호 분석하기
- 임의의 주민등록번호를 입력 받아 다음과 같이 생년과 성별을 추출하여 출력하는 코드를 작성하시오

- (입력) 881231-1234567 --> (출력)88년생 남자

In [83]:
# 내가한거

a = input("주민등록 번호를 입력하세요:")

b = print(a[0:2],"년생")

c = a[7]
if c == "1":
    print("남자")
else:
    print("여자")
    
    
# 쌤 버전
jumin = input("주민등록번호:")
year = jumin[:2]
gender = jumin[7]
print("%s년생 %s"%(year, "남자" if gender=="1" else "여자"))

주민등록 번호를 입력하세요:960902-1194615
96 년생
남자
주민등록번호:960902-2194615
96년생 여자

## [문제-9] 단어 수 세기
- 문자열 내 전체 단어가 몇개인가?
- 문자열 내 "like" 단어의 개수가 몇 개인가?
- 문자열 내 가장 많이 나오는 단어는 무엇인가?
>- 1) 문자열 내에 엔터("\n") 문자를 공백 문자로 치환: replace()
>- 2) 문자열을 단어로 나눈다: split()
>- 3) 모든 단어를 소문자로 수정한다: lower()

In [123]:
a = """Hello, it's me 
I was wondering if after all these years you'd like to meet
To go over everything
They say that time's supposed to heal ya
But I ain't done much healing
Hello, can you hear me?
I'm in California dreaming about who we used to be
When we were younger and free
I've forgotten how it felt before the world fell at our feet
There's such a difference between us
And a million miles
Hello from the other side
I must've called a thousand times
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside
At least I can say that I've tried
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
Hello, how are you?
It's so typical of me to talk about myself, I'm sorry
I hope that you're well
Did you ever make it out of that town where nothing 
times)
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside (Outside)
At least I can say that I've tried (I've tried)
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
"""

b = a.replace("\n", " ")

c = b.lower()

d = c.split()

e = len(d)
print(e)

f = d.count('like')
print(f)

for x in f:
    w_max = d.count(x)
    if max < w_max:
        max = w_max
        anser = []
        anser.append(x)
    else:
        anser.append(x)
print(x)

226
1

TypeError: 'int' object is not iterable

In [150]:
song = """Hello, it's me 
I was wondering if after all these years you'd like to meet
To go over everything
They say that time's supposed to heal ya
But I ain't done much healing
Hello, can you hear me?
I'm in California dreaming about who we used to be
When we were younger and free
I've forgotten how it felt before the world fell at our feet
There's such a difference between us
And a million miles
Hello from the other side
I must've called a thousand times
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside
At least I can say that I've tried
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
Hello, how are you?
It's so typical of me to talk about myself, I'm sorry
I hope that you're well
Did you ever make it out of that town where nothing 
times)
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside (Outside)
At least I can say that I've tried (I've tried)
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
"""

song = song.replace("\n", " ")
print("like 단어의 갯수:", song.count("like"))
word_list = song.split()
print("전체 단어의 갯수:", len(word_list))

# 가장 많이 나온 단어 찾기
max_word_count = 0 # 가장 많이 나온 단어의 횟수
max_word = "" # 가장 많이 나온 단어
word = 0

for word in word_list:
    word_count = word_list.count(word)
    if word_count > max_word_count:
        max_word_count = word_count
        max_word = word

print("가장 많이 포함된 단어는 %s이며 횟수는 %d이다."%(max_word, max_word_count))

like 단어의 갯수: 1
전체 단어의 갯수: 226
가장 많이 포함된 단어는 you이며 횟수는 10이다.

In [136]:
song = """Hello, it's me 
I was wondering if after all these years you'd like to meet
To go over everything
They say that time's supposed to heal ya
But I ain't done much healing
Hello, can you hear me?
I'm in California dreaming about who we used to be
When we were younger and free
I've forgotten how it felt before the world fell at our feet
There's such a difference between us
And a million miles
Hello from the other side
I must've called a thousand times
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside
At least I can say that I've tried
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
Hello, how are you?
It's so typical of me to talk about myself, I'm sorry
I hope that you're well
Did you ever make it out of that town where nothing 
times)
To tell you I'm sorry for everything that I've done
But when I call, you never seem to be home
Hello from the outside (Outside)
At least I can say that I've tried (I've tried)
To tell you I'm sorry for breaking your heart
But it don't matter, it clearly doesn't tear you apart anymore
"""

song = song.replace("\n"," ").lower()
print("like 단어의 갯수:", song.count("like"))
word_list = song.split()
print("전체 단어 갯수:", len(word_list))

# 가장 많이 나온 단어 찾기
max_word_count = 0 # 가장 많이 나온 단어의 횟수
max_word = "" # 가장 많이 나온 단어

for word in word_list:
    word_count = word_list.count(word)
    if word_count > max_word_count:
        max_word_count = word_count
        max_word = word
        

print("가장 많이 포함된 단어는 %s이며 횟수는 %d이다."%(max_word, max_word_count))

like 단어의 갯수: 1
전체 단어 갯수: 226
가장 많이 포함된 단어는 to이며 횟수는 11이다.

# List

In [140]:
a = [1,5,3,6,7]
print(a)
a.sort()
print(a)

a.sort(reverse=True)
print(a)

a.reverse()
print(a)

[1, 5, 3, 6, 7]
[1, 3, 5, 6, 7]
[7, 6, 5, 3, 1]
[1, 3, 5, 6, 7]

In [144]:
b = [1,5,3,5,7,7,11]
b.remove(5) # index로 삭제하는 것이 아니라 실제 값을 삭제 (중복되는 숫자라면 중복 값중 첫번째 값 삭제)
print(b)

temp = b.pop() # -1 위치의 데이터를 꺼낸 후 삭제
print(temp)
print(b)

[1, 3, 5, 7, 7, 11]
11
[1, 3, 5, 7, 7]

In [93]:
# 얕은 복사
a = [1,2,3,4,5,6,7]
b = a
a[2]=20
print(b)

# 깊은 복사
c = a[:]
c[0] = 200
print(a)
print(c)

print(a is b)
print(a is c)

[1, 2, 20, 4, 5, 6, 7]
[1, 2, 20, 4, 5, 6, 7]
[200, 2, 20, 4, 5, 6, 7]
True
False

In [148]:
# list의 연산: +(연결), *(반복)
a = [1,2,3]
b = [4,5,6]

print(a+b)
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [149]:
# 리스트의 원소 삭제
a = [1,2,3,4,5]

a[1:3] = []
print(a)

[1, 4, 5]

In [155]:
d = [1,4,5,6,3,1,3,5,6,7,11]

# 다음의 함수는 리스트 객체의 함수가 아닌, 파이썬의 내장 함수
print(max(d))
print(min(d))
print(sum(d))
print(sum(d)/len(d))

11
1
52
4.7272727272727275

In [158]:
ans = input("결제를 하시겠습니까? :")
if ans in ['yes', 'y', 'ok', '네', '예']: # ans 리스트에 해당 원소가 포함되어 있는지의 여부
    print('구매해 주셔서 감사합니다.')
else:
    print('잘가세요')

결제를 하시겠습니까? :y
구매해 주셔서 감사합니다.

# 이중 리스트
- 리스트의 요소로 리스트를 갖는 형태

In [170]:
li = [[1,2,3], [4,5], [6,7,8,9]]
print(li[0])
print(li[1][0])

for x in li:
    for y in x: # outer for에서 바깥 리스트의 값을 받았으니 inner for에서 안쪽 리스트 (x) 를 받아야함
        print(y, end=" ")
    print()

[1, 2, 3]
4
1 2 3
4 5
6 7 8 9

## [문제-10] 성적 총점과 평균 구하기
- 학생 3명의 성적에 대해 각각 총점과 평균을 구하고, 전체 평균을 구하라

In [210]:
# 내 버전

score = [[88,76,92,98], [65,70,58,83], [82,100,89,67]]

print(sum(score[0]), (sum(score[0])//len(score[0])))
print(sum(score[1]), (sum(score[1])//len(score[1])))
print(sum(score[2]), (sum(score[2])//len(score[2])))

for x in score:
    print(sum(x), (sum(x)/len(x)))
    for y in score:
        print(sum(y), (sum(y)/len(y)), end=" ")

354 88
276 69
338 84
354 88.5
354 88.5 276 69.0 338 84.5 276 69.0
354 88.5 276 69.0 338 84.5 338 84.5
354 88.5 276 69.0 338 84.5

In [211]:
# 쌤 버전

score = [[88,76,92,98], [65,70,58,83], [82,100,89,67]]

sum = 0 #학생 한명의 총점을 저장
total = 0 #전체 모든 학생의 총점을 저장
all_subject = 0 #전체 과목의 수

for student in score:
    for jumsu in student:
        sum += jumsu
        all_subject+= 1
    print("총점:%d, 평균: %.2f"%(sum, sum/len(student)))
    sum = 0
print("전체 평균: %.2f"%(total/all_subject))

총점:354, 평균: 88.50
총점:276, 평균: 69.00
총점:338, 평균: 84.50
전체 평균: 0.00

## [문제-11] 일수 계산
<pre>
1~12월 중 입력 받은 월이 몇 일까지 있는지 계산하는 프로그램을 작성

[실행예시]
년도를 입력하세요: 2021
월을 입력하세요: 10
2021년 10월은 3일까지 있습니다.

[참고]
윤년 조건: 4로 나눠지고, 100으로 나눠지지 않는 해, 또는 400으로 나눠지는 해

In [236]:
year = int(input("년도를 입력하세요: "))
month = int(input("월을 입력하세요: "))

x = [28,29,30,31]

if month == 1 or 3 or 5 or 7 or 8 or 10 or 12:
    print(x[3])
elif month == 2 or 4 or 6 or 9 or 11:
    print(x[2])

년도를 입력하세요: 2021
월을 입력하세요: 4
31

In [242]:
# 쌤 버전

daysInMonth = [31,28,31,30,31,30,31,31,30,31,30,31]

year = int(input("년도를 입력하세요: "))
month = int(input("월을 입력하세요: "))
days = 0
if month == 2:
    days = 29 if (year%4 == 0 and year%100 != 0) or year %400 == 0 else 28
else:
    days = daysInMonth[month-1]
print("%d년의 %d월은 %d일까지 있습니다."%(year, month, days))

년도를 입력하세요: 2022
월을 입력하세요: 4
2022년의 4월은 30일까지 있습니다.

# Dictionary

In [257]:
x = {'name': '홍길동', 'age':32}

# 비어있는 딕셔너리 생성
y = dict()

# 비어있는 딕셔너리에 새로운 키와 value 삽입
y['name'] = '전우치'
y['age'] = 28

print(y)
print("나이:", y['age'])
# print(y['addres']) # 오류
print(y.get('addres')) # get() 함수 쓰면 없는 값을 입력했을 때 none을 출력
print(y.get('addres', '서울시'))

{'name': '전우치', 'age': 28}
나이: 28
None
서울시

In [261]:
for key in x.keys():
    print(key)
    
for value in x.values():
    print(value)
    
print(x.items()) # 튜플 출력

for k,v in x.items():
    print(k, ":", v)

name
age
홍길동
32
dict_items([('name', '홍길동'), ('age', 32)])
name : 홍길동
age : 32

In [2]:
score = {"홍길동":89, "임꺽정":88, "손오공":80, "전우치":67}

print("합계:", sum(score.values()))
print("최고점:", max(score.values()))

합계: 324
최고점: 89

## [문제-12] 단어 빈도수 구하기
- text 문장 안에 포함된 각 단어의 빈도수를 구하여 dictionary 형태로 결과를 출력
- 단어는 key가 되고, 빈도 수는 value가 된다
- 모든 단어는 소문자로 변환하고 '/\'은 공백 문자로 치환

In [38]:
tt = """I heard that you're settled down 
That you found a girl and you're married now 
I heard that your dreams came true 
Guess she gave you things, I didn't give to you 
Old friend, why are you so shy? 
Ain't like you to hold back or hide from the light
"""

tt = tt.replace("\n", " ")

tt = tt.lower()

tt = tt.split()

word = 0

for word in tt:
    w_count = tt.count(word)
    
print(word, w_count)

light 1

In [40]:
# 쌤 버전

text = """I heard that you're settled down 
That you found a girl and you're married now 
I heard that your dreams came true 
Guess she gave you things, I didn't give to you 
Old friend, why are you so shy? 
Ain't like you to hold back or hide from the light
"""

word_list = text.replace("\n", " ").lower().split()
mydic={} # 결과를 저장할 함수

#for word in word_list:
#    if word not in mydic:
#        mydic[word] = 1
#    else:
#        mydic[word] += 1 # mydic[word] = mydic[world] + 1
 

# get(key): 없는 key일 경우 None 반환
# get(key, value): 없는 key일 경우 None 대신 value 반환
for word in word_list:
    mydic[word] = mydic.get(word, 0)+1
print(mydic)

{'i': 3, 'heard': 2, 'that': 3, "you're": 2, 'settled': 1, 'down': 1, 'you': 5, 'found': 1, 'a': 1, 'girl': 1, 'and': 1, 'married': 1, 'now': 1, 'your': 1, 'dreams': 1, 'came': 1, 'true': 1, 'guess': 1, 'she': 1, 'gave': 1, 'things,': 1, "didn't": 1, 'give': 1, 'to': 2, 'old': 1, 'friend,': 1, 'why': 1, 'are': 1, 'so': 1, 'shy?': 1, "ain't": 1, 'like': 1, 'hold': 1, 'back': 1, 'or': 1, 'hide': 1, 'from': 1, 'the': 1, 'light': 1}

# Tuple

In [46]:
t1 = (1,2,'a','b')
print(t1[0])
print(t1[1:])

# t1[0] = 10 에러

t2 = (3,4)
print(t1+t2)
print(t1*3)

1
(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')

# Set

In [54]:
print(set("Hello Python")) # 중복된 값은 제거 됨
print(set({'boy':'소년', 'school':'학교', 'book':'책', 'phone':'핸드폰'}))

{'o', 'h', 'H', 'y', 't', 'l', 'e', 'P', 'n', ' '}
{'book', 'phone', 'boy', 'school'}

In [53]:
a = {1,2,3,4,5,6}
b = {5,6,7,8}

print("합집합:", a.union(b))
print("교집합:", a.intersection(b))
print("차집합:", a.difference(b))
print("차집합:", b.difference(a))

합집합: {1, 2, 3, 4, 5, 6, 7, 8}
교집합: {5, 6}
차집합: {1, 2, 3, 4}
차집합: {8, 7}

# Comprehension

In [67]:
tmp = [1,3,4,4,6,3,12,55,31,76,7]
a = [i for i in tmp]
print(a)

b = [i*3 for i in tmp]
print(b)

c = [i for i in tmp if not i%2]
print(c)

# d = [i for i in tmp if not i%2 else i*2] 에라
d = [i if not i%2 else i*2 for i in tmp]
print(d)

e = [x*y for x in range(2,10) for y in range(1,10)]
print(e)

# 4행 7열 형태의 이중 리스트
double_list = [[0,0,0,0,0,0,0],
               [0,0,0,0,0,0,0],
               [0,0,0,0,0,0,0],
               [0,0,0,0,0,0,0]]

double_list = [ [0 for col in range(7)]for row in range(4)]
print(double_list)

[1, 3, 4, 4, 6, 3, 12, 55, 31, 76, 7]
[3, 9, 12, 12, 18, 9, 36, 165, 93, 228, 21]
[4, 4, 6, 12, 76]
[2, 6, 4, 4, 6, 6, 12, 110, 62, 76, 14]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]
[[0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0]]

In [68]:
# set comprehension
s = {i for i in range(1,11)}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [71]:
# tuple comprehension
t = [ (a,b)for a in range(1,3) for b in range(1,3)]
print(t)

[(1, 1), (1, 2), (2, 1), (2, 2)]

## [문제-13] 1~100까지 1씩 증가하는 데이터를 발생하여 3의 배수이거나 5의 배수인 데이터만 리스트에 포함시킨 후 출력

In [1]:
x = [i for i in range(1,101) if i%3==0 or i%5==0]
print(x)

y = [i for i in range(1,101) if not i%3 or i%5]
print(y)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100]
[1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99]

In [3]:
a = [1,2,3,4]

result = [num*3 for num in a]

print(result)

[3, 6, 9, 12]

# zip()

In [4]:
data1 = [1,2,3,4,5]
data2 = [10,20,30,40,50]
data3 = [100,200,300,400,500]

result1 = [x for x in zip(data1, data2)]
print(result1)
# 튜플의 형태로 데이터를 받아옴

result2 = [sum(x) for x in zip(data1, data2, data3)]
print(result2)

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]
[111, 222, 333, 444, 555]

In [8]:
yoil = ['월', '화', '수', '목', '금', '토', '일']
food = ['갈비탕', '순대국', '칼국수', '삼겹살']

menu = zip(yoil, food)
for y, f in menu:
    print("%s요일 메뉴: %s"%(y, f))
    
d = dict(zip(yoil, food))
# dict함수 활용해 딕셔너리 객체로 변환 (키와 밸류)
print(d)

월요일 메뉴: 갈비탕
화요일 메뉴: 순대국
수요일 메뉴: 칼국수
목요일 메뉴: 삼겹살
{'월': '갈비탕', '화': '순대국', '수': '칼국수', '목': '삼겹살'}

# enumerate()

In [18]:
days = ['월', '화', '수', '목', '금']
print(list(enumerate(days)))

# enumarate()의 두 번째 인수로 시작값을 지정할 수 있다.

for i, item in enumerate(days, 1):
    print(i, item, end=" ")

[(0, '월'), (1, '화'), (2, '수'), (3, '목'), (4, '금')]
1 월 2 화 3 수 4 목 5 금

In [21]:
color = ['빨강', '노랑', '주황', '초록', '파랑']

mydic = {i:v for i, v in enumerate(color)}
print(mydic)

{0: '빨강', 1: '노랑', 2: '주황', 3: '초록', 4: '파랑'}

## [문제-14] 리스트 x, y를 이용해 리스트 z와 같은 결과가 나오게 해라

- x = [[1,2,3],[4,5,6]]
- y = [[11,12,13], [14,15,16]]
- z = [[12,14,16], [18,20,22]]
- hint : list comprehension, zip() 이용

In [38]:
# 내 버전

x = [[1,2,3],[4,5,6]]
y = [[11,12,13], [14,15,16]]


b = [ [0 for col in range(3)]for row in range(2)]
        
print(b)

[[0, 0, 0], [0, 0, 0]]

In [1]:
# 쌤 버전

x = [[1,2,3],[4,5,6]]
y = [[11,12,13], [14,15,16]]

print(list(zip(x,y))) # 리스트로 변환하면 두개의 튜플로 나눠짐

z = [[ c+d for c,d in zip(a,b)] for a,b in zip(x,y)]
print(z)

[([1, 2, 3], [11, 12, 13]), ([4, 5, 6], [14, 15, 16])]
[[12, 14, 16], [18, 20, 22]]

# 함수

In [3]:
def calcstep(begin, end, step=1):
    sum = 0
    for num in range(begin, end+1, step):
        sum+= num
    return sum

print("1~10 까지의 합=", calcstep(1,10))
print("1~10 까지의 합=", calcstep(end=10, begin=1))

1~10 까지의 합= 55
1~10 까지의 합= 55

In [9]:
price = 1000 # 전역변수

def sales():

    price = 500 #지역 변수
    print(price)
    
sales() # 함수 호출
print("sales() 함수 호출 후 price 값:", price)

500
sales() 함수 호출 후 price 값: 1000

In [10]:
price = 1000 # 전역변수

def sales():
    global price # 전역변수 사용 # 주석처리하면 price 값은 1000이 출력됨.
    price = 500 # 지역 변수
    print(price)
    
sales() # 함수 호출
print("sales() 함수 호출 후 price 값:", price)

500
sales() 함수 호출 후 price 값: 500

## # [문제 - 15] 다음과 같은 결과를 출력하는 함수를 정의

<pre>
print_star(5)
*
**
***
****
*****
</pre>

In [34]:
# 쌤 버전

def print_star(num):
    for n in range(1, num+1):
        print("*"*n)
        
print_star(5)

*
**
***
****
*****

## [문제-16] 함수를 이용한 계산기

<pre>
이항사칙연산식 문자열을 매개변수로 받아 연산의 결과를 출력하는 함수를 작성
* 함수 형식 : calculator(exp)
* exp: 사용자로부터 입력 받은 문자열 형태의 계산식
    
예시)
계산식을 입력하세요: 10+20
10+20=30.00

계산식을 입력하세요: 10a20
연산자 오류

In [55]:
def calculator(exp):
    str = input("계산식을 입력하세요: ")
    a = []
    print(str)
    for '+' in str:
        a.append = str.split("+")
        print(a)

계산식을 입력하세요: 10+20

In [67]:
# 쌤 버전

def calculator(exp):
    op_index = 0 # 연산자 포함 여부
    operator = " " # 연산자
    for op in ['+', '-', '/', '*']: # op 리스트에 + - / * 해당 연산자 넣음
        print(op)
        op_index = exp.find(op) # find() : 문자가 포함되어 있으면 문자의 위치를 인덱스로 출력 / 없으면 -1 출력
        if op_index != -1:
            operator = op
            break
            
    if op_index == -1:
        print("연산자 오류!")
        return exp
    
    value1 = float(exp.split(operator)[0])
    value2 = float(exp.split(operator)[1])
    
    result = 0.0
    if operator == "+":
        result = value1 + value2
    elif operator == "-":
        result = value1 - value2
    elif operator == "/":
        result = value1 / value2
    elif operator == "*":
        result = value1 * value2
        
    print("%s=%.2f"%(exp,result))
    
exp = input("계산식을 입력하세요: ")
calculator(exp)

계산식을 입력하세요: 20/10
+
-
/
20/10=2.00

# \*arg와 \**kwargs 매개변수

In [68]:
def test(*args):
    print("결과: ", args)

test()
test(1)
test(1,2,3,'a','b','c')

결과:  ()
결과:  (1,)
결과:  (1, 2, 3, 'a', 'b', 'c')

In [76]:
def myargs(a, b, *args):
    print("a=>", a)
    print("b=>", b)
    print("args=>", args)
    
# myargs(10,20)
myargs(10,20,30)

a=> 10
b=> 20
args=> (30,)

In [88]:
def myargs2(a, **kwargs): #**kwargs : 가변인자를 dict() 형태로 받음
    print(a, kwargs)
    
myargs2(5)
myargs2(5, b=7, c=8, d=9) #5는 일반 매개변수 형태 / 나머지는 딕셔너리 형태로 저장

5 {}
5 {'b': 7, 'c': 8, 'd': 9}

In [83]:
def calcstet(**kwargs):
    begin = kwargs["begin"]
    end = kwargs["end"]
    step = kwargs["step"]
    
    sum = 0
    for n in range(begin, end+1, step):
        sum += n
        
    return sum

print("1~10 합계:", calcstep(begin=1, end=10, step=1))

1~10 합계: 55

In [87]:
def calcstet(step, **kwargs):
    begin = kwargs["begin"]
    end = kwargs["end"]
    
    sum = 0
    for n in range(begin, end+1, step):
        sum += n
        
    return sum

print("1~10 합계:", calcstep(begin=1, end=10))

1~10 합계: 55

# filter(), map(), reduce()

In [89]:
def flunk(s):
    return s <60

score = [40,89,72,53,94]
for s in filter(flunk, score):
    print("낙제 점수: ",s)

낙제 점수:  40
낙제 점수:  53

In [90]:
def half(s):
    return s/2

score = [40,89,72,53,94]
for s in map(half, score):
    print(s, end=", ")

20.0, 44.5, 36.0, 26.5, 47.0,

In [99]:
from functools import reduce

# reduce 함수에 매개변수로 사용할 함수의 첫 번째 매개변수는 누적값을 의미 (a = 값을 누적시키는 역할, a의 값은 0이 디폴트)
# a = a+b
def sum(a,b):
    return a+b # a+b의 값을 a에 넣어줌

score = [40,89,72,53,94]
print(reduce(sum,score))

alphabet = ['H', 'E', 'L', 'L', 'O', ' ', 'P', 'Y', 'T', 'H', 'O', 'N']
print(reduce(sum,alphabet)) # 숫자뿐만 아니라 문자도 가능

348
HELLO PYTHON

# Lambda

In [102]:
def myfunc(x, y):
    return x+y

result = myfunc(10, 11)
print(result)

result2 = lambda x,y : x+y
print(result2(10,11))

21
21

In [104]:
a = [1,2,3,4,5]

# a리스트 값의 제곱 출력
list(map(lambda x:x**2, a)) # 함수 처리 후 리스트로 출력해야해서 map()사용

[1, 4, 9, 16, 25]

In [106]:
x = [1,2,3,4,5]
y = [10,20,30,40,50]

list(map(lambda a,b:a+b, x,y)) # (lambda 매개변수(a,b) : 리턴할 수식(a+b), 리스트의 값(x,y))

[11, 22, 33, 44, 55]

In [110]:
k = list(range(1,11)) # end값은 입력한 값의 -1

list(map(lambda x:x**2 if not x%2 else x, k))

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [111]:
score = [40,89,72,53,94]

list(filter(lambda x: x<60, score))

[40, 53]

In [116]:
def calc(op, a, b):
    op(a,b)

def add(a,b):
    print(a+b)
    
def multi(a, b):
    print(a*b)
    
calc(add, 1,2)
calc(multi, 3,4)

3
12

# 표준모듈

In [118]:
import time

# time() 현재 시각을 기준으로 초를 실수형을 나타냄
t = time.time()
print(t)
print(time.ctime(t))

1649741922.8755908
Tue Apr 12 14:38:42 2022

In [120]:
import time

start = time.time()
sum = 0
for i in range(1,100000001):
    sum += i
    
end = time.time()
print("1~1억까지 합계 계산 총 소요시간: %.2f"%(end-start))

1~1억까지 합계 계산 총 소요시간: 7.21

In [124]:
import time

# localtime() 현지 시간 기준으로  struct_time으로 반환
# print(time.localtime())
now = time.localtime()

print("%d년 %d월 %d일"%(now.tm_year, now.tm_mon, now.tm_mday))
print("%d시 %d분 %d초"%(now.tm_hour, now.tm_min, now.tm_sec))

2022년 4월 12일
14시 49분 25초

In [125]:
import time

print("이 문장은")
time.sleep(2)
print("2초 단위로")
time.sleep(2)
print("출력 됩니다.")

이 문장은
2초 단위로
출력 됩니다.

In [205]:
import random

random.seed(0)
for i in range(6):
    print(random.randint(1,10)) # randint(begin, end) begin~end 사이의 정수 난수를 생성

7
7
1
5
9
8

In [164]:
import random

food = ["짜장면", "짬뽕", "탕수육", "군만두"]
print(food)
random.shuffle(food)
print(food)

['짜장면', '짬뽕', '탕수육', '군만두']
['짜장면', '군만두', '탕수육', '짬뽕']

In [169]:
import random

food = ["짜장면", "짬뽕", "탕수육", "군만두"]
print(random.choice(food)) #choice() : 리스트에서 임의의 요소를 하나 골라 리턴
print(random.sample(food, 2)) #sample(list 객체, n) : 리스트 항목 중 n개를 무작위로 뽑아 새로운 리스트 생성

짜장면
['짜장면', '탕수육']

## [문제-17] 숫자 맞추기 게임

- 1~100 사이의 난수를 맞추는 게임
- 입력 값과 생성 값을 비교해 어떤 값이 더 큰지 힌트를 알려줌
- 생성 값을 맞추면 시도 횟수 출력과 함께 게임을 종료
- 0을 입력하면 게임을 종료

In [197]:
import random

for y in range(1):
    number = random.randint(1,101)

    # print(number)
    
big = 0
small = 0
cor = 0

while True:
    x = int(input("숫자 입력: "))
    
    if x > number:
        print("입력 값이 더 큽니다")
        big += 1
    elif x < number:
        print("입력 값이 더 작습니다")
        small+= 1
    elif x == number:
        cor += 1
        print("정답 / 시도횟수 : %d"%(big+small+total))
    elif x == 0:
        break
        break

숫자 입력: 50
입력 값이 더 큽니다
숫자 입력: 30
입력 값이 더 큽니다
숫자 입력: 10
입력 값이 더 작습니다
숫자 입력: 15
입력 값이 더 작습니다
숫자 입력: 20
입력 값이 더 큽니다
숫자 입력: 18
입력 값이 더 큽니다
숫자 입력: 17
입력 값이 더 큽니다
숫자 입력: 16
정답 / 시도횟수 : 8

In [198]:
# 쌤 버전

import random

num = random.randint(1,101)
count = 0

while True:
    guess = int(input("숫자를 입력하세요(끝내기:0)"))
    if guess == 0 :break
    count += 1
    if num == guess:
        print("%d번만에 맞췄습니다."%count)
        break
    elif guess > num:
        print("입력한 숫자보다 더 작습니다.")
    else:
        print("입력한 숫자보다 더 큽니다.")

숫자를 입력하세요(끝내기:0)50
입력한 숫자보다 더 큽니다.
숫자를 입력하세요(끝내기:0)70
입력한 숫자보다 더 큽니다.
숫자를 입력하세요(끝내기:0)80
입력한 숫자보다 더 큽니다.
숫자를 입력하세요(끝내기:0)90
입력한 숫자보다 더 작습니다.
숫자를 입력하세요(끝내기:0)88
입력한 숫자보다 더 작습니다.
숫자를 입력하세요(끝내기:0)85
입력한 숫자보다 더 작습니다.
숫자를 입력하세요(끝내기:0)83
입력한 숫자보다 더 작습니다.
숫자를 입력하세요(끝내기:0)81
입력한 숫자보다 더 큽니다.
숫자를 입력하세요(끝내기:0)82
9번만에 맞췄습니다.

## [문제-18] 로또 번호 생성기

- 1~46 사이의 중복되지 않은 정수 6개 뽑기
- 결과는 오름차순으로 정렬해서 출력

In [250]:
import random

result = []
for i in range(6):
    result.append(random.randint(1,47))

lotto = []
lotto.append(set(result))

lotto.sort()
print(lotto)

[{6, 42, 46, 20, 25, 27}]

In [251]:
# 쌤 버전

lotto = set() # 원소의 중복 허용 X

while True:
    lotto.add(random.randint(1, 46))
    if len(lotto) == 6: break
        
print(sorted(list(lotto)))

[1, 11, 13, 22, 39, 45]

In [253]:
import random

lotto = []

while True:
    num = random.randint(1, 46)
    if num not in lotto:
        lotto.append(num)
    if len(lotto) == 6: break
        
lotto.sort()
print(lotto)

[3, 26, 27, 37, 44, 45]

In [255]:
import random

num_list = list(range(1,47))
lotto = random.sample(num_list, 6)
print(sorted(lotto, reverse=True))

[34, 32, 29, 17, 11, 5]

# I/O (입출력)

In [1]:
f = open("myfile.txt", "w") # 파일 쓰기
f.close()

print("End")

End

In [2]:
f1 = open("myfile2.txt", mode="w", encoding="utf-8") # mode 생략 가능 / 쓰고자 하는 파일에 2byte 문자가 있다면 인코딩 해줘야 함

for i in range(1,11):
    f1.write("값="+str(i)+"\n")
    
f1.close()
print("End")

End

In [4]:
f2 = open("song.txt", "r")
data = f2.readlines()
print(data)

["I heard that you're settled down\n", "That you found a girl and you're married now\n", 'I heard that your dreams came true\n', "Guess she gave you things, I didn't give to you\n", 'Old friend, why are you so shy?\n', "Ain't like you to hold back or hide from the light"]

In [5]:
f3 = open("song.txt", "r") # 파일 읽기
while True:
    line = f3.readline()
    if not line: break # = 더이상 읽을 데이터가 없다 (null string)
    print(line, end="") 
    # print함수에는 자동 개행 기능 / 해당 파일의 각 문장 마지막에 \n이 붙어 있기 때문에 개행이 두번 이뤄짐
    # 따라서 end=""를 추가해 하나의 자동 개행을 빼줌

f3.close()

I heard that you're settled down
That you found a girl and you're married now
I heard that your dreams came true
Guess she gave you things, I didn't give to you
Old friend, why are you so shy?
Ain't like you to hold back or hide from the light

In [6]:
f4 = open("song.txt", "a") # 기존 파일에 덧붙임
f4.write("\n==================================")
f4.close()
print("End")

End

## [문제-19] 다음의 학생 성적 데이터를 이용해 파일에 학생수, 합계, 평균,최고점, 최하점을 기록

- score={'홍길동':89, "임꺽정":78, "손오공":88, "전우치":90, "저팔계":100}

In [3]:
f5 = open("score.txt", "w", encoding="UTF-8")

Score2 ={"홍길동":89, "임꺽정":78, "손오공":88, "전우치":90, "저팔계":100}

total = sum(score2.values())
student = len(score2.keys())
high = max(sum)
low = min(sum)

print("학생 수: ", student)
print("합계: ", total)
print("최고점: ", high)
print("최하점: ", low)

f5.close()
print("End")

NameError: name 'score2' is not defined

In [1]:
score = {'홍길동':89, '임꺽정':78, '손오공':88, '전우치':90, '저팔계':100}

f = open("score.txt",mode="w", encoding="utf-8")
for name, s in score.items():
    f.write("%s: %d점\n"%(name, s))
    
f.write("=====================")
f.write("학생수 :%d\n"%len(score))
f.write("합계 :%d\n"%sum(score.values()))
f.write("평균 :%d\n"%(sum(score.values())/len(score)))
f.write("최고점 :%d\n"%max(score.values()))
f.write("최하점 :%d\n"%min(score.values()))
f.close()
print("End")

End

In [60]:
f = open("song.txt", mode="r")
f.seek(10,0)
text = f.read()
print(text)
f.close()

at you're settled down
That you found a girl and you're married now
I heard that your dreams came true
Guess she gave you things, I didn't give to you
Old friend, why are you so shy?
Ain't like you to hold back or hide from the light
==================================

In [62]:
original = open("python.png", mode="rb")
copy = open("copy_python.png", mode="wb")

data = original.read()
copy.write(data)
original.close()
copy.close()
print("End")

End

In [2]:
with open("score.txt", "r", encoding="utf-8") as p:
    text = p.read()
    print(text)

홍길동: 89점
임꺽정: 78점
손오공: 88점
전우치: 90점
저팔계: 100점
=====================학생수 :5
합계 :445
평균 :89
최고점 :100
최하점 :78

# [문제-20] 학생들의 합계 평균 구하기

In [29]:
source = open("score2.txt", "r", encoding="utf-8")
target = open("result.txt", "w", encoding="utf-8")

target.write("이름\합계\평균\n")
while True:
    score = source.readline()
    if not score: break
        
    data = score.split()
    total = int(data[1])+int(data[2])+int(data[3])
    avg = total/ (len(data)-1)
    target.write("%3s\t%3d\t%.2f\n"%(data[0], total, avg))
    
source.close()
target.close()
print("End")

End

# 예외 (Exception)

In [32]:
a = [1,2,3,4,5,]
print(a[5]) #index Error 발생

b = "123b"
# c = int(b) # Value Error 발생

# f = open("notexists.txt", "r") # FileNotFoundError 발생

# data = 10 / 0 # ZeroDivisionError 발생

IndexError: list index out of range

In [35]:
try:
    data = 10/0
except ZeroDivisionError as e:
    print("0으로 나눌수 없습니다.")
    print(e)
    
print("End")

0으로 나눌수 없습니다.
division by zero
End

In [43]:
try:
    a=[1,2,3]
    print(a[3])
    print(10/0)
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except IndexError:
    print("리스트의 범위를 벗어났습니다.")
    
# indexError 부분에서 먼저 에러 발생했기 때문에 10/0에러는 표시 안됨

리스트의 범위를 벗어났습니다.
항상 실행되는 코드
End

In [42]:
try:
    a = [1,2,3]
    print(a[3])
except IndexError:
    print("리스트의 범위를 벗어났습니다.")
finally:
    print("항상 실행되는 코드")
print("End")

리스트의 범위를 벗어났습니다.
항상 실행되는 코드
End

# Class

## 클래스 생성

In [46]:
# Account 클래스 생성
class Account:
    # Account 클래스의 속성을 특정 값으로 초기화 하기 위한 생성자
    def __init__(self, accNo, balance, owner):
        self.accNo = accNo #self.accNo = 멤버 변수의 선언과 동일한 표현
        self.balance = balance
        self.owner =owner
        
    def getBalance(self): # 클래스의 멤버 변수를 참조하기 위해 self를 매개변수로 사용
        return self.balance
    
    def accountInfo(self):
        print("계좌번호:%s, 소유주:%s"%(self.accNo, self.owner))

# Account 클래스의 객체 생성
a1 = Account("11-11", 500, "홍길동")
a1.accountInfo()
print(a1.getBalance())

a2 = Account("11-12", 100, "임꺽정")
a2.accountInfo()

계좌번호:11-11, 소유주:홍길동
500
계좌번호:11-12, 소유주:임꺽정

## 상속

In [50]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def intro(self):
        print("저는 %d살 %s입니다"%(self.age, self.name))

kim = Human("김철수", 29)
kim.intro()

저는 29살 김철수입니다

In [70]:
class Student(Human):
    def __init__(self, name, age, stdNo):
        super().__init__(name, age)# 부모 클래스의 생성자 호출 (이름과 나이는 부모(Human)의 속성이기 때문에 super 키워드 사용)
        self.stdNo = stdNo
        
    def intro(self):
        super().intro() #부모 클래스의 intro 함수 사용
        print("학번은 %s 입니다"%self.stdNo)

    def study(self):
        print("Study hard~!!")
        
kim = Student("김철수", 29, "2022")
kim.intro()
kim.study()

저는 29살 김철수입니다
학번은 2022 입니다
Study hard~!!

## 은닉

In [59]:
# property를 이용한 setter와 getter

class Date:
    def __init__(self, month):
        #가급적 멤버 변수의 이름을 어렵게 작성
        self._inner_month = month
    
    def getMonth(self):
        print("getMonth() call")
        return self._inner_month
    
    def setMonth(self, month):
        if 1<= month <=12:
            self._inner_month = month
        print("setMonth() call")
        
    month = property(getMonth, setMonth) #property = month / 값을 읽을 때 getMonth / 값 수정할때 setMonth를 호출
    
today = Date(7)
print(today.month)
today.month = 15
print(today.month)

getMonth() call
7
setMonth() call
getMonth() call
7

In [68]:
class Date:
    def __init__(self,month):
        self._inner_month = month
     
    @property
    def month(self):
        print("getMethod() call")
        return self._inner_month
    
    @month.setter
    def month(self, month):
        if 1<=month<=12:
            self._inner_month = month
        print("setMethod() call")
        
today = Date(8)
today.month = 15
print(today.month)

setMethod() call
getMethod() call
8